/*
 * [ settings / layout ]
 */

// -----------------------------------------------------------------------------

$container-max-width: 1440px;

$grid-columns: 12;
$grid-gap: 16px;

$global-horizontal-padding: 91px;

$border-left: 1px solid $primary;
$border-right: 1px solid $primary;
$border-top: 1px solid $primary;
$border-bottom: 1px solid $primary;
$border: 1px solid $primary;