/*
 * [ settings / colors ]
 */

// -----------------------------------------------------------------------------

// 1. Default color palette
// ====================================

$black:           #000000;
$gray-darkest:    #343434;
$gray-darker:     #606f7b;
$gray-dark:       #8795a1;
$gray:            #b8c2cc;
$gray-light:      #dae1e7;
$gray-lighter:    #f1f5f8;
$gray-lightest:   #f8fafc;
$white:           #ffffff;

/*
Example
$red-darkest:     #3b0d0c;
$red-darker:      #621b18;
$red-dark:        #d63c3c;
$red:             #e3342f;
$red-light:       #ef5753;
$red-lighter:     #f9acaa;
$red-lightest:    #fcebea;
*/

$red:             #e3342f;


$blue: #0047FF;
$green: #BBFF65;
$gray: #969696;


// 2. Custom colors
// ====================================
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$gradient: linear-gradient($primary, transparent 20%);

$color-body: $secondary;
$color-text: $primary;
$color-link: $primary;
