/*
 * [ settings / colors ]
 */

// -----------------------------------------------------------------------------

$primary: var(--primary-color);
$secondary: var(--secondary-color);
$filter-to-primary: var(--filter-to-primary);
$gradient: linear-gradient($primary 50%, transparent);

$color-body: $secondary;
$color-text: $primary;
$color-link: $primary;