/*
 * [ base / font ]
 */

@font-face {
  font-family: 'Neutral Face';
  src: url('@/assets/fonts/Neutral_Face.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fs-20 {
  font-size: 20px;
  
  .android & {
    line-height: 20px;
  }

  @media #{$md-down} {
    font-size: 14px;
  }
}

.fs-42 {
  font-size: 42px;

  .android & {
    // line-height: 42px;
  }

  @media #{$md-down} {
    font-size: 22px;
  }
}

.fs-42__big {
  font-size: 42px;

  .android & {
    line-height: 42px;
  }

  @media #{$md-down} {
    font-size: 32px;
  }
}