/*
 * [ base / font ]
 */

@font-face {
  font-family: 'Neutral Face';
  src: url('@/assets/fonts/Neutral_Face.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}