/*
 * [ base / font ]
 */

@font-face {
  font-family: 'Neutral Face';
  src: url('@/assets/fonts/Neutral_Face.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.fs-20 {
  font-size: 20px;

  @media #{$md-down} {
    font-size: 14px;
  }
}

.fs-42 {
  font-size: 42px;

  @media #{$md-down} {
    font-size: 20px;
  }
}