/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $font-primary;
  font-weight: $weight-base;
  background-color: $color-body;
  color: $color-text;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Style frame
  min-height: 100vh;
  position: relative;
  padding: 80px 90px;

  &:before, &:after {
    content: '';
    z-index: 900;
    display: block;
    width: 1px;
    height: 100%;
    background: $black;
    position: absolute;
    bottom: 0;
  }
  &:before {
    left: 90px;
  }
  &:after {
    right: 90px;
  }
}

:focus:not(:focus-visible) {
  outline: none;
}

button {
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}
