/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

*,
:before,
:after {
  box-sizing: border-box;
  @media #{$md-up} {
    cursor: none;
  }
}

html {
  font-size: 100%;
}

html,
body {
  scroll-behavior: smooth;
  text-transform: uppercase;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $font-primary;
  font-weight: $weight-base;
  background-color: $color-body;
  color: $color-text;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // Style frame
  min-height: 100vh;
  position: relative;
}

:focus:not(:focus-visible) {
  outline: none;
}

button {
  cursor: pointer;
  border: none;

  &:focus {
    outline: none;
  }
}

.only-mobile {
  display: none;
}

@media #{$md-down} {
  .only-mobile {
    display: block;
  }
  .only-desktop {
    display: none;
  }
}